.position-relative {
	position: relative;
}

/* Push header down if logged in to prevent overlap */
body.admin-bar {
	.header {
		top: 46px;
		@include mobilefirst(em($bp-1024)) {
			top: 32px;
		}
	}
}
