/* ------------------------------------ *\
		#BREAKPOINTS
\* ------------------------------------ */

$bp-480: 480;
$bp-768: 768;
$bp-991: 991;
$bp-1024: 1024;
$bp-1180: 1180;
$bp-1280: 1280;
$bp-1366: 1366;
$bp-1400: 1440;
$bp-1600: 1601;
$bp-1700: 1700;
$bp-1800: 1800;
$bp-1900: 1900;

/* ------------------------------------ *\
		#COLOUR-VARIABLES
\* ------------------------------------ */

$primary: #da3c8d;
$primary-light: lighten($primary, 10%);
$primary-dark: darken($primary, 10%);

$secondary: #eb6608;
$tertiary: #da3c8d;

$light: #fff;
$grey: #f2f2f2;
$dark: #333;
